header {
  background-image: url("/assets/graphics/header-bg-min.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  width: 100%;
  height: 9rem;
  padding: 0 16px;
  margin: 0 auto 0;
  text-align: right;

  a,
  a:visited {
    color: #fff;
  }

  .logo_wrapper {
    font-family: "Sriracha", cursive;
    font-size: 30px;
    a {
      display: flex;
      align-items: center;
      img {
        max-width: 50px;
        margin-right: 10px;
      }
      span {
        color: $orange;
      }
    }
  }

  .header_links_wrapper {
    ul {
      display: flex;
      align-items: center;
      li {
        .btn {
          border: 1px solid $orange;
          padding: 11px 25px;
          &:hover {
            border: 1px solid $orange;
          }
        }
        .login_button {
          background: transparent;
          color: $orange;
          margin-right: 12px;
        }
        .signup_button {
          background: $orange;
          color: $navBg;
          &:hover {
            border: 1px solid $orange;
            background: darken($orange, 15%);
            border-color: darken($orange, 15%);
          }
        }
      }
    }
  }

  .your_account {
    display: inline-block;
    height: 100%;
    margin: 0 10px 0 2rem;

    .wrap {
      height: 100%;
      display: flex;
      align-items: center;

      .profile_img {
        position: relative;
        display: inline-block;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0 1rem 0 0;

        img {
          display: block;
          max-width: 12rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }

      .caption {
        span {
          i {
            display: inline-block;
            margin-right: 0.6rem;
          }
        }
      }
    }

    nav {
      display: none;
    }
  }
}
